body>nav #dimension {
    display: flex !important;
    flex-direction: row !important;
    margin-inline: 2px !important;
    font-size: 1.2rem !important;
    margin-left:  1.5em !important;
    align-items: center !important;
    justify-content: center !important;
}
body>nav .dimension-button {
    transition: all .1s ease-in-out;
    background-color: transparent !important;
    
    border: none !important;
    padding: 0 !important;
    cursor: pointer !important;
    padding-inline: 1em !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

body>nav .dimension-button:focus {
    outline: none !important;
}

body>nav .dimension-button:hover *{
    color: #bdb3b3 !important;
}
body>nav .dimension-switcher {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
body>nav .dimension-container, body>nav .dimension-container * {
    color: rgb(233, 226, 226);
}
body>nav .dimension-container {
    display: flex !important;
    font-family: 'Courier New', Courier, monospace !important;
    border: 1px solid rgb(15, 15, 15) !important;
    border-radius: 10px !important;
    width: min-content !important;
    padding: 2px !important;
    padding-block: 1em !important;
}
body>nav #dimension-number  {
    width: 3em !important;
    margin-left: 2px !important;
    text-align: center !important;
}