body>nav #dimension {
    display: flex;
    flex-direction: row;
    margin-inline: 2px;
    font-size: 1.2rem;
    margin-left:  1.5em;
    align-items: center;
    justify-content: center;
}
body>nav .dimension-button {
    transition: all .1s ease-in-out;
    background-color: transparent;
    
    border: none;
    padding: 0;
    cursor: pointer;
    padding-inline: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

body>nav .dimension-button:focus {
    outline: none;
}

body>nav .dimension-button:hover *{
    color: #bdb3b3 !important;
}
body>nav .dimension-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body>nav .dimension-container, body>nav .dimension-container * {
    color: rgb(233, 226, 226);
}
body>nav .dimension-container {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 10px;
    width: min-content;
    padding: 2px;
    padding-block: 1em;
}
body>nav #dimension-number  {
    width: 3em;
    margin-left: 2px;
    text-align: center;
}
